<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <%= f.submit "Update dose", class: 'btn btn-primary' %>
<% end %>
